<div class="modal-header">
    <h3>{{ 'messages.user.change_password' | translate }}</h3>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="changePasswordForm">
        <div class="mb-7">
            <label for="current_password" class="required form-label">{{'messages.user.current_password' | translate}}:</label>
            <div class="mb-3 position-relative">
                <input class="form-control" placeholder="{{'messages.user.current_password' | translate}}" 
                autocomplete="off" aria-label="Password" name="current_password" type="{{!showCurrentPassword ? 'password' : 'text'}}" formControlName="current_password">
                <span class="position-absolute d-flex align-items-center top-0 bottom-0 end-0 me-4 input-icon input-password-hide cursor-pointer text-gray-600">
                    <i class="fa-solid" [ngClass]="!showCurrentPassword ? 'fa-eye' : 'fa-eye-slash'"></i>
                </span>
            </div>
            <div id="currentPasswordValidation" class="invalid-feedback" [class.d-block]="!changePasswordForm.controls['current_password'].valid && (!changePasswordForm.controls['current_password'].pristine || isSubmitted)">
                {{'messages.this_field' | translate}}
            </div>
        </div>
        <div class="mb-7">
            <label for="current_password" class="required form-label">{{'messages.user.new_password' | translate}}:</label>
            <div class="mb-3 position-relative">
                <input class="form-control" placeholder="{{'messages.user.new_password' | translate}}" autocomplete="off" aria-label="Password" name="{{!showNewPassword ? 'password' : 'text'}}" type="new_password" formControlName="new_password">
                <span class="position-absolute d-flex align-items-center top-0 bottom-0 end-0 me-4 input-icon input-password-hide cursor-pointer text-gray-600">
                    <i class="fa-solid" [ngClass]="!showNewPassword ? 'fa-eye' : 'fa-eye-slash'"></i>
                </span>
            </div>
            <div id="newPasswordValidation" class="invalid-feedback" [class.d-block]="!changePasswordForm.controls['new_password'].valid && (!changePasswordForm.controls['new_password'].pristine || isSubmitted)">
                {{'messages.this_field' | translate}}
            </div>
        </div>
        <div class="mb-7">
            <label for="current_password" class="required form-label">{{'messages.user.confirm_password' | translate}}:</label>
            <div class="mb-3 position-relative">
                <input class="form-control" placeholder="{{'messages.user.confirm_password' | translate}}" autocomplete="off" aria-label="Password" name="confirm_password" type="{{!showComfirmPassword ? 'password' : 'text'}}" formControlName="confirm_password">
                <span class="position-absolute d-flex align-items-center top-0 bottom-0 end-0 me-4 input-icon input-password-hide cursor-pointer text-gray-600" (click)="showComfirmPassword = !showComfirmPassword">
                    <i class="fa-solid" [ngClass]="!showComfirmPassword ? 'fa-eye' : 'fa-eye-slash'"></i>
                </span>
            </div>
            <div id="comfirmPasswordValidation" class="invalid-feedback" [class.d-block]="!changePasswordForm.controls['confirm_password'].valid && (!changePasswordForm.controls['confirm_password'].pristine || isSubmitted)">
                {{'messages.this_field' | translate}}
            </div>
        </div>
    </form>
</div>
<div class="modal-footer pt-0">
    <button class="btn btn-primary m-0" type="button" (click)="submit(changePasswordForm.value, changePasswordForm.valid)">Save</button>
    <button class="btn btn-secondary my-0 ms-5 me-0" type="button" (click)="bsModalRef.hide()">Discard</button>
</div>
