<app-data-table 
    [url]="url" 
    [headers]="tableColumns" 
    [actionTemplate]="actionTemplate"
    [addTemplate]="addTemplate"
    [filterTemplate]="filterTemplate"
    [columnCustomTemplates]="columnCustomTemplates">
</app-data-table>

<ng-template #actionTemplate let-row>
    <button class="btn px-2 border-0 text-primary fs-2" (click)="edit(row.id)">
        <i class="fa-solid fa-pen-to-square" title="Edit"></i>
    </button>
    <button class="btn px-2 border-0 text-danger fs-2" (click)="delete(row)">
        <i class="fa-solid fa-trash" title="Delete"></i>
    </button>
</ng-template>

<ng-template #filterTemplate>
    <div>
        <select id="clinicServiceFilterStatus" class="form-select w-auto ms-3" (change)="changeStatus($event.target)">
            <option value="1">Active</option>
            <option value="0">Inactive</option>
        </select>
    </div>
</ng-template>

<ng-template #addTemplate>
    <div>
        <button class="btn btn-primary ms-auto" (click)="create()">
            {{'messages.clinic-service.add_clinic_service' | translate}}
        </button>
    </div>
</ng-template>

<ng-template #categoryTemplate let-item>
    {{ getCategoryName(item.category) }}
</ng-template>

<ng-template #activeTemplate let-item>
    <div class="form-check form-switch">
        <input class="form-check-input clinicServiceActiveCheckbox" data-medicine-id="30" type="checkbox" role="switch" [checked]="item.active" (change)="activeService(item, $event.target)">
    </div>
</ng-template>