<div class="container-fluid">
     @if (homeService.clinics.length > 1) {
        <div class="d-md-flex align-items-center justify-content-end mb-5">
            <div class="col-md-2 mb-5">
                <select id="clinicFilterSetting" class="form-select" [(ngModel)]="clinicId" (change)="loadData()">
                    @for(clinic of homeService.clinics; track clinic.id) {
                    <option value="{{clinic.id}}">{{clinic.name}}</option>
                    }
                </select>
            </div>
        </div>
    }
    <div class="d-md-flex align-items-center justify-content-between mb-5">
        <h1 class="mb-0">{{'messages.appointment.appointments' | translate }}</h1>
        <div class="text-end mt-4 mt-md-0">
            <a class="btn btn-outline-primary me-3" [routerLink]="'/home/appointments/list'">{{'messages.appointment.list_view' | translate }}</a>
            <button id="addNewAppointmentBtn" class="btn btn-outline-primary" (click)="openCreateModal()">{{'messages.appointment.add_new_appointment' | translate }}</button>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class='appointment-page'>
                <full-calendar *ngIf='calendarVisible()' [options]='calendarOptions()' >
                </full-calendar>
            </div>
        </div>
    </div>
</div>