<app-data-table 
    [url]="url" 
    [headers]="tableColumns" 
    [actionTemplate]="actionTemplate"
    [addTemplate]="addTemplate"
    [defaultTrackingColumn]="'visit_id'"
    [showFilterDateRange]="true"
    [columnCustomTemplates]="columnCustomTemplates">
</app-data-table>

<ng-template #actionTemplate let-row>
    <button class="btn px-2 border-0 text-primary fs-2" (click)="edit(row.visit_id)">
        <i class="fas fa-eye"></i>
    </button>

    <button class="btn px-2 border-0 text-primary fs-2" (click)="openMedicalRecord(row)">
        <i class="fa-solid fa-heart-pulse" title="Delete"></i>
    </button>

    <button class="btn px-2 border-0 text-primary fs-2" (click)="openTransaction(row)">
        <i class="fa-solid fa-dollar-sign" title="{{'messages.transaction.transaction' | translate }}"></i>
    </button>

    <button class="btn px-2 border-0 text-primary fs-2" (click)="openCetificate(row)" [class.active]="row.certificate_id">
        <i class="fa-solid fa-notes-medical" title="{{'messages.transaction.medical_certificate' | translate }}"></i>
    </button>

    @if(!row.visit_deleted_at) {
        <button class="btn px-2 border-0 text-danger fs-2" (click)="delete(row)">
            <i class="fa-solid fa-trash" title="Delete"></i>
        </button>
    }

</ng-template>

<ng-template #addTemplate>
    <div>
        <button class="btn btn-primary ms-auto" (click)="create()">
            {{'messages.visit.add_visit' | translate}}
        </button>
    </div>
</ng-template>

<ng-template #patientNameTemplate let-item>
    <div class="d-flex align-items-center">
        <a [routerLink]="item.patient_id">
            <div class="image image-circle image-mini me-3">
                @if (item.image_url) {
                    <img [src]="`${apiUrl}${item.patient_image_url}`" alt="" class="user-img" loading="lazy">
                } @else {
                    <img [src]="`${apiUrl}public/media/male.png`" alt="user" class="user-img" loading="lazy">
                }
            </div>
        </a>
        <div class="d-flex flex-column">
            <div class="d-inline-block align-top">
                <div class="d-inline-block align-self-center d-flex">
                    <a [routerLink]="item.patient_id" class="mb-1 text-decoration-none fs-6">
                        {{item.patient_full_name}}
                    </a>
                </div>
            </div>
            <span class="fs-6">{{item.patient_email}}</span>
        </div>
    </div>
</ng-template>

<ng-template #doctorNameTemplate let-item>
    <div class="d-flex align-items-center">
        <div class="d-flex flex-column">
            <div class="d-inline-block align-top">
                <div class="d-inline-block align-self-center d-flex">
                    <a [routerLink]="item.patient_id" class="mb-1 text-decoration-none fs-6">
                        {{item.doctor_full_name}}
                    </a>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #profileTemplate let-item>
    <div class="d-flex flex-column">
    <div>
        @if(item.patient_gender === 1) {
            M,
        } @else if(item.patient_gender === 2) {
            F,
        } @else {
            U,
        }
        {{ item.patient_dob }}
    </div>
    <div>
        {{ item.patient_dob }}
    </div>
    <div>
        {{item.patient_id_number}}
    </div>
    <div>
        {{item.patient_region_code ? `(+${item.patient_region_code}) ${item.patient_contact}` : '' }}
    </div>
</div>
</ng-template>

<ng-template #apptTemplate let-item>
    @if (item.appointment_date) {
        <div class="badge bg-primary">
             <div class="mb-2">
                {{item.appointment_date | date:'dd/MM/yyyy'}}
             </div>
             <div>
                {{item.appointment_from_time}} {{item.appointment_from_time_type}}
             </div>
        </div>
    }
</ng-template>

<ng-template #typeTemplate let-item>
    {{VISIT_TYPE[item.visit_type]}}
</ng-template>

<ng-template #dateTemplate let-item>
    <div class="badge bg-primary">
        <div class="mb-2">
            {{item.visit_date | date:'dd/MM/yyyy'}}
        </div>
        <div>
           {{item.visit_date | date:'hh:mm a'}}
        </div>
    </div>
</ng-template>

<ng-template #statusTemplate let-item>
    <div class="d-flex flex-column">
        <select class="form-select" [disabled]="item.visit_deleted_at" (change)="updateVisitStatus(item.visit_id, $event)">
            @for (status of shareService.VISIT_STATUS_ARRAY; track status.value) {
                <option value="{{status.value}}" [selected]="status.value === item.visit_status">{{ status.label }}</option>
            }
        </select>
    </div>
</ng-template>