@let historyList = histories.value();

<div id="historyTransactionContent">
    @if (historyList && historyList.length > 0) {
        <div class="list-group-item list-group-item-action text-center">
            <span class="badge bg-primary">{{'messages.purchase_medicine.total' | translate }} : RM {{totalNumber() | number : '1.2-2'}}</span>
        </div>
        @for (history of histories.value(); track history.id) {
            <div class="list-group-item list-group-item-action d-flex flex-wrap align-items-center justify-content-between">
                <div>
                    <div class="transaction-history">{{history.bill_date | date:'dd/MM/yyyy' }}</div>
                    <div>{{`${history.doctor.user.first_name} ${history.doctor.user.last_name}`}}</div>
                </div>
                <div>RM {{history.net_amount | number : '1.2-2'}}</div>
            </div>
        }
    } @else {
        <span>No history found</span>
    }
</div>