<div class="admin-dashbord-earning-card widget mb-5">
    <div class="admin-dashbord-earning-card-header">
        <h3>{{'messages.visits' | translate }}</h3>
    </div>
    <div class="admin-dashbord-earning-card-body d-flex align-items-center justify-content-between">
        <div class="my-2 d-flex flex-column">
            <span>{{'messages.datepicker.today' | translate }}</span>
            <span class="fs-1 mt-2 fw-bolder">{{data.today}}</span>
        </div>
        <div class="my-2 d-flex flex-column">
            <span>{{'messages.datepicker.this_month' | translate }}</span>
            <span class="fs-1 mt-2 fw-bolder">{{data.this_month}}</span>
        </div>
        <div class="my-2 d-flex flex-column">
            <span>{{'messages.datepicker.this_year' | translate }}</span>
            <span class="fs-1 mt-2 fw-bolder">{{data.this_year}}</span>
        </div>
    </div>
</div>