<div class="admin-dashbord-earning-card widget mb-5">
    <div class="admin-dashbord-earning-card-header">
        <h3>Monthly Earning !</h3>
        <span class="mt-4 fw-light">This Month</span>
    </div>
    <div class="admin-dashbord-earning-card-body d-flex align-items-center justify-content-between">
        <div class="total-amount fs-1 my-2">RM 0</div>
        <div>
            <i class="fa fa-arrow-up" aria-hidden="true"></i>
            <div> From Previous Month</div>
        </div>
    </div>
</div>