<div class="services-page">
    <app-hero-section [header]="'Services'"></app-hero-section>
    <section class="services-section p-t-100" [style.background-color]="">
        <div class="container">
            <div class="row justify-content-center">
                @for(service of services(); track service.id) {
                    <div class="col-xl-4 col-md-6 services-block d-flex align-items-stretch">
                        <div class="card mx-lg-2 flex-fill">
                            <div class="card-body text-center d-flex flex-column">
                                <div class="services-icon-box mx-auto d-flex align-items-center justify-content-center">
                                    <img src="{{service.avatar}}" alt="Emergency" class="img-fluid object-image-cover" loading="lazy">
                                </div>
                                <h4 class="text-primary">{{service.name}}</h4>
                                <p class="paragraph pb-3">
                                    {{service.short_description}}
                                </p>
                                <a routerLink="/medical-contact" class="btn btn-primary mt-auto align-self-center">
                                    <span>{{'messages.web.book_an_appointment' | translate}}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
    <app-service-counter></app-service-counter>
</div>
