<div class="d-flex flex-column flex-column-fluid align-items-center justify-content-center p-4">
    <div class="col-12 text-center">
        <a href="" class="image mb-4 mb-sm-6">
            <img alt="Logo" src="" class="img-fluid" style="width:23%;" loading="lazy">
        </a>
    </div>
    <div class="bg-white rounded-15 shadow-md width-540 px-5 px-sm-7 py-10 mx-auto">
        @if (showAlert) {
            <div id="errorBlock" class="alert alert-danger" role="alert" >
              {{'auth.failed' | translate}}
            </div>
        }
        @if (successMessage) {
            <div id="errorBlock" class="alert alert-success" role="alert" >
              {{successMessage}}
            </div>
        }
        <h1 class="text-center mb-7">{{ 'auth.reset_password.title' | translate }} ?</h1>
        <form [formGroup]="resetForm" (ngSubmit)="forgot(resetForm.value, resetForm.valid)">
            <div class="mb-7">
                <label for="password" class="required form-label">{{'messages.user.new_password' | translate}}:</label>
                <div class="mb-3 position-relative">
                    <input id="password" class="form-control" placeholder="{{'messages.user.new_password' | translate}}" autocomplete="off" aria-label="New Password" type="{{!showNewPassword ? 'password' : 'text'}}" name="new_password" formControlName="password">
                    <button class="btn p-0 border-0 bg-transparent position-absolute d-flex align-items-center top-0 bottom-0 end-0 me-4 text-gray-600" (click)="showNewPassword = !showNewPassword">
                        <i class="fa-solid" [ngClass]="!showNewPassword ? 'fa-eye' : 'fa-eye-slash'"></i>
                    </button>
                </div>
                <div id="newPasswordValidation" class="invalid-feedback" [class.d-block]="!resetForm.controls['password'].valid && (!resetForm.controls['password'].pristine || isSubmitted)">
                    {{'messages.this_field' | translate}}
                </div>
            </div>
            <div class="mb-7">
                <label for="confirm_password" class="required form-label">{{'messages.user.confirm_password' | translate}}:</label>
                <div class="mb-3 position-relative">
                    <input id="confirm_password" class="form-control" placeholder="{{'messages.user.confirm_password' | translate}}" autocomplete="off" aria-label="Confirm Password" name="confirm_password" type="{{!showComfirmPassword ? 'password' : 'text'}}" formControlName="confirm_password">
                    <button class="btn p-0 border-0 bg-transparent position-absolute d-flex align-items-center top-0 bottom-0 end-0 me-4 text-gray-600" (click)="showComfirmPassword = !showComfirmPassword">
                        <i class="fa-solid" [ngClass]="!showComfirmPassword ? 'fa-eye' : 'fa-eye-slash'"></i>
                    </button>
                </div>
                <div id="comfirmPasswordValidation" class="invalid-feedback" [class.d-block]="!resetForm.controls['confirm_password'].valid && (!resetForm.controls['confirm_password'].pristine || isSubmitted)">
                    {{'messages.this_field' | translate}}
                </div>
            </div>

            <div class="d-flex">
                <button type="submit" class="btn btn-primary w-100" style="background-color: #f83a3d">{{'auth.reset_password.reset_pwd_btn' | translate }}</button>
            </div>
        </form>
    </div>
</div>