<app-data-table 
    [url]="url" 
    [headers]="tableColumns" 
    [actionTemplate]="actionTemplate"
    [addTemplate]="addTemplate">
</app-data-table>

<ng-template #addTemplate>
    <div>
        <button class="btn btn-primary ms-auto" (click)="create()">
            {{'messages.faq.add_faq' | translate}}
        </button>
    </div>
</ng-template>

<ng-template #actionTemplate let-row>
    <div class="d-flex">
        <button class="btn px-2 border-0 text-primary fs-2" (click)="edit(row.id)">
            <i class="fa-solid fa-pen-to-square" title="Edit"></i>
        </button>
        <button class="btn px-2 border-0 text-danger fs-2" (click)="delete(row)">
            <i class="fa-solid fa-trash" title="Delete"></i>
        </button>
    </div>
</ng-template>