<section class="hero-content-section bg-white p-t-100 p-b-100">
    <div class="container p-t-30">
        <div class="col-12">
            <div class="hero-content text-center">
                <h1 class="mb-3">
                    {{header}}
                </h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center mb-0">
                        <li class="breadcrumb-item">
                            <a routerLink="">Home</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            {{header}}
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
