<div class="modal-header">
    <h3>{{'messages.web.enquiry_details' | translate }}</h3>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 d-flex flex-column mb-md-10 mb-5">
                    <label for="name" class="pb-2 fs-4 text-gray-600">{{'messages.web.name' | translate }}:</label>
                    <span class="fs-4 text-gray-800">{{enquiry?.name}}</span>
                </div>
                <div class="col-md-6 d-flex flex-column mb-md-0 mb-5">
                    <label for="name" class="pb-2 fs-4 text-gray-600">{{'messages.web.phone' | translate }}:</label>
                    <span class="fs-4 text-gray-800">{{enquiry ? enquiry.phone : ('messages.common.n/a' | translate)}}</span>
                </div>
                <div class="col-md-6 d-flex flex-column mb-md-10 mb-5">
                    <label for="name" class="pb-2 fs-4 text-gray-600">{{'messages.web.subject' | translate }}:</label>
                    <span class="fs-4 text-gray-800">{{enquiry?.subject}}</span>
                </div>
                <div class="col-md-6 d-flex flex-column mb-md-10 mb-5">
                    <label for="name" class="pb-2 fs-4 text-gray-600">{{'messages.web.email' | translate }}:</label>
                    <span class="fs-4 text-gray-800">{{enquiry?.email}}</span>
                </div>
                <div class="col-md-6 d-flex flex-column mb-md-10 mb-5">
                    <label for="name" class="pb-2 fs-4 text-gray-600">{{'messages.web.message' | translate }}:</label>
                    <span class="fs-4 text-gray-800">{{enquiry?.message}}</span>
                </div>
                <div class="col-md-6 d-flex flex-column mb-md-10 mb-5">
                    <label for="name" class="pb-2 fs-4 text-gray-600">{{'messages.patient.registered_on' | translate }}:</label>
                    <span class="fs-4 text-gray-800" title="28 Apr 2025">{{enquiry?.updated_at | diffForHumans }}</span>
                </div>
                <div class="col-md-6 d-flex flex-column">
                    <label for="name" class="pb-2 fs-4 text-gray-600">{{'messages.patient.last_viewed' | translate }}:</label>
                    <span class="fs-4 text-gray-800" title="28 Apr 2025">{{enquiry?.updated_at | diffForHumans}}</span>
                </div>
            </div>
        </div>
    </div>
</div>