<section class="services-counter-section p-t-100 p-b-100">
    <div class="container">
        <div class="bg-white rounded-20 box-shadow py-3 py-sm-0">
            <div class="row">
                <div class="col-xl-3 col-6 services-counter-block">
                    <div class="text-center my-4 my-sm-5 pipe">
                        <h4 class="text-primary fs-1 fw-bolder mb-3">{{data()?.specializations}}</h4>
                        <h5 class="mb-0">{{ 'messages.specializations' | translate }}</h5>
                    </div>
                </div>
                <div class="col-xl-3 col-6 services-counter-block">
                    <div class="text-center my-4 my-sm-5 pipe">
                        <h4 class="text-primary fs-1 fw-bolder mb-3">{{data()?.services}}</h4>
                        <h5 class="mb-0">{{ 'messages.services' | translate }}</h5>
                    </div>
                </div>
                <div class="col-xl-3 col-6 services-counter-block">
                    <div class="text-center my-4 my-sm-5 pipe">
                        <h4 class="text-primary fs-1 fw-bolder mb-3">{{data()?.doctors}}</h4>
                        <h5 class="mb-0"> {{ 'messages.doctors' | translate }}</h5>
                    </div>
                </div>
                <div class="col-xl-3 col-6 services-counter-block">
                    <div class="text-center my-4 my-sm-5 pipe">
                        <h4 class="text-primary fs-1 fw-bolder mb-3">{{data()?.patients}}</h4>
                        <h5 class="mb-0">{{ 'messages.satisfied_patient' | translate }}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>