.datatable-body {
    .sortable {
        cursor: pointer;
        
        .fa-solid {
            opacity: 0.5;
        }
    }
}

.datatable-pagination {
    .page-item {
        cursor: pointer;
    }
      
    .page-item.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}