<div class="modal-header">
    <h3>{{title | translate }}</h3>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="card">
        <div class="card-body">
            <form [formGroup]="serviceForm" (ngSubmit)="onSubmit(serviceForm.valid, serviceForm.value)">
                <div class="row">
                    @if (homeService.selectClinics.length > 1) {
                        <div class="col-md-6 mb-5">
                            <label for="clinicId" class="form-label required">{{'messages.common.clinic' | translate}}:</label>
                            <select2 [data]="homeService.selectClinics" placeholder="{{'messages.common.clinic' | translate}}" formControlName="clinic_id" id="clinicId"></select2>
                             @if (!serviceForm.controls['clinic_id'].valid && (!serviceForm.controls['clinic_id'].pristine || isSubmitted)) {
                                <div id="imageValidation" class="invalid-feedback d-block">
                                    {{'messages.this_field' | translate}}
                                </div>
                            }
                        </div>
                    }
                    <div class="col-lg-6">
                        <div class="mb-5">
                            <label for="name" class="form-label required">{{'messages.common.name' | translate }}:</label>
                            <input class="form-control" placeholder="{{'messages.common.name' | translate }}" formControlName="name" type="text" id="name">
                            @if (!serviceForm.controls['name'].valid && (!serviceForm.controls['name'].pristine || isSubmitted)) {
                                <div id="imageValidation" class="invalid-feedback d-block">
                                    {{'messages.this_field' | translate}}
                                </div>
                            }
                        </div>
                    </div>
                    <input id="hiddenClinicId" name="clinic_id" type="hidden" value="1">
                    <div class="col-lg-6">
                        <div class="mb-5">
                            <label for="category_id" class="form-label required">{{'messages.service.category' | translate }}:</label>
                            <select2 [data]="categories" placeholder="{{'messages.service.category' | translate }}" formControlName="category_id" id="category_id"></select2>
                            @if (!serviceForm.controls['category_id'].valid && (!serviceForm.controls['category_id'].pristine || isSubmitted)) {
                                <div id="imageValidation" class="invalid-feedback d-block">
                                    {{'messages.this_field' | translate}}
                                </div>
                            }
                        </div>
                    </div>
                    <div class="col-lg-6 mb-5">
                        <label for="doctors" class="form-label required">{{'messages.doctors' | translate }}:</label>
                        <select2 multiple [data]="doctors" placeholder="{{'messages.doctors' | translate }}" formControlName="doctor_ids" id="doctors"></select2>
                        @if (!serviceForm.controls['doctor_ids'].valid && (!serviceForm.controls['doctor_ids'].pristine || isSubmitted)) {
                            <div id="imageValidation" class="invalid-feedback d-block">
                                {{'messages.this_field' | translate}}
                            </div>
                        }
                    </div>
                    <div class="col-lg-6">
                        <div class="mb-5">
                            <label for="charges" class="form-label required">{{'messages.service.charges' | translate }}:</label>
                            <div class="input-group">
                                <input class="form-control price-input" placeholder="{{'messages.service.charges' | translate }}" formControlName="charges" type="number" id="charges">
                                <div class="input-group-text">
                                    <a class="fw-bolder text-gray-500 text-decoration-none">RM</a>
                                </div>
                            </div>
                            @if (!serviceForm.controls['charges'].valid && (!serviceForm.controls['charges'].pristine || isSubmitted)) {
                                <div id="imageValidation" class="invalid-feedback d-block">
                                    {{'messages.this_field' | translate}}
                                </div>
                            }
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="mb-5">
                            <label for="short_description" class="form-label required">{{'messages.service.short_description' | translate }}:</label>
                            <textarea class="form-control" placeholder="{{'messages.service.short_description' | translate }}" rows="5" maxlength="60"
                                formControlName="short_description" cols="50" id="short_description"></textarea>
                            @if (!serviceForm.controls['short_description'].valid && (!serviceForm.controls['short_description'].pristine || isSubmitted)) {
                                <div id="imageValidation" class="invalid-feedback d-block">
                                    {{'messages.this_field' | translate}}
                                </div>
                            }
                        </div>
                    </div>

                    <div class="col-lg-6 mb-7">
                        <div class="mb-3" io-image-input="true">
                            <label for="exampleInputImage" class="form-label required">{{'messages.common.icon' | translate }}:</label>
                            <div>
                                <app-image-upload formControlName="logo" [currentImage]="imageUrl"></app-image-upload>
                            </div>
                            @if (!serviceForm.controls['logo'].valid && (!serviceForm.controls['logo'].pristine || isSubmitted)) {
                                <div id="imageValidation" class="invalid-feedback d-block">
                                    {{'messages.this_field' | translate}}
                                </div>
                            }
                        </div>
                    </div>
                    <div class="mb-5 col-lg-6">
                        <label for="status" class="form-label">{{'messages.common.status' | translate }}:</label>
                        <div class="col-lg-8">
                            <div class="form-check form-switch">
                                <input type="checkbox" formControlName="status" class="form-check-input" id="allowmarketing"
                                [checked]="serviceForm.controls['status'].value">
                                <label class="form-check-label" for="allowmarketing"></label>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-primary m-0" type="submit">{{'messages.common.save' |
                            translate}}</button>
                        <button class="btn btn-secondary my-0 ms-5 me-0" type="button"
                            (click)="bsModalRef.hide()">{{'messages.common.discard' | translate}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>